Source: kaisen-grub-configuration
Section: kaisen-packages
Priority: optional
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Build-Depends: debhelper
Standards-Version: 4.5.1
Homepage: https://kaisenlinux.org

Package: kaisen-grub-configuration
Architecture: all
Depends: grub-pc-bin | grub-efi-amd64
Description: GRUB configuration for Kaisen Linux
